@model TaskManager.Application.Models.ViewModels.RaportViewModel

@{ 
    int? spentStoryPoints = 0;
    int? storyPoints = 0;

    foreach(var item in Model.ProjectEndedTasks)
    {
        spentStoryPoints += item.SpentStoryPoints;
        storyPoints += item.StoryPoints;
    }

    foreach(var item in Model.ProjectTasks)
    {
        storyPoints += item.StoryPoints;
    }
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/pdf.css" />
</head>
<div style="border:solid; width:1000px; padding:10px" >
    <h2>
        Data: @DateTime.Now
    </h2>
    <h1>
        Nazwa Projektu: @Model.Project.Name
    </h1>
</div>

<div style="width:500px; height:auto; margin:0px auto; float:left;">
    <h1>Taski niezakończone</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAZWA</th>
            <th>PRIORYTET</th>
            <th>STORY POINTY</th>

        </tr>
        @foreach (var item in Model.ProjectTasks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td>@item.StoryPoints</td>
            </tr>
        }
    </table>
</div>

<div style="width:500px; height:auto; margin:0px auto; float:left;">
    <h1>Taski zakończone</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>NAZWA</th>
            <th>PRIORYTET</th>
            <th>STORY POINTY</th>
        </tr>

        @foreach (var item in Model.ProjectEndedTasks)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Priority</td>
                <td>@item.StoryPoints</td>

            </tr>
        }
    </table>
</div>
